.firstBlock {
  height: 700px;
  background: url('./landing.jpg')  no-repeat center center;
  background-size:100% auto;
}

.firstBlockText {
  width: 100%;
  color: white;
  top: 0;
  padding-top: 60px;
  position: absolute;
  text-align: center;
  z-index: 1;
}


.slogan {
  color: rgba(33, 33, 33, .8);
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.about {
  font-size: 24px;
  font-weight: 300;
  color: rgba(33, 33, 33, .5);
}

.description {
  color: rgba(33, 33, 33, .5);
  line-height: 22px;
}
