.textCenter {
  text-align: center;
  margin: 20px;
}

.listLanding {
  font-size: 24px;
  line-height: 36px;
  color: #0b0d11;
  font-weight: 300;
}

.mainTitle {
  font-size: 48px;
  line-height: 64px;
  color: #0b0f15;
  font-weight: 300;
}

.link {
  color: #2c59c5;
  text-decoration: none;
}
.link:hover {
  color: #2c59c5;
  text-decoration: underline;
}
